############
## Server
############
logs/
players/
plugins/
worlds/
*.log
*.pmf
*.txt
server.properties

############
## IDE
############
.idea/
.project
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
